.pc {
  display: none !important; }

.sp {
  display: block !important; }

html {
  font-size: 58%; }

@keyframes shiny {
  0% {
    left: -20%; }
  10% {
    left: 120%; }
  100% {
    left: 120%; } }
.txt2 {
  display: block;
  list-style: none; }

nav {
  display: flex;
  justify-content: space-between; }
  nav .contact_btn {
    padding: 3px 0;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
    width: 70%;
    margin-left: 10px;
    align-self: center;
    display: block;
    z-index: 999;
    background: linear-gradient(312deg, #24a6b5 17%, #295982 98%); }
    nav .contact_btn:hover {
      opacity: 1.0; }
  nav .btn-trigger {
    margin: 10px;
    display: block;
    z-index: 99;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer; }
    nav .btn-trigger span {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 4px;
      background-color: #fff;
      border-radius: 4px; }
    nav .btn-trigger, nav .btn-trigger span {
      display: inline-block;
      transition: all .5s;
      box-sizing: border-box; }
    nav .btn-trigger span:nth-of-type(1) {
      top: 0px; }
    nav .btn-trigger span:nth-of-type(2) {
      top: 13px; }
    nav .btn-trigger span:nth-of-type(3) {
      bottom: 0px; }
    nav .btn-trigger.open span:nth-of-type(1) {
      -webkit-transform: translateY(22px) rotate(-45deg);
      transform: translateY(16px) rotate(-45deg); }
    nav .btn-trigger.open span:nth-of-type(2) {
      opacity: 0; }
    nav .btn-trigger.open span:nth-of-type(3) {
      -webkit-transform: translateY(-13px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg); }
  nav ul {
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.91);
    padding-top: 50px;
    font-size: 1.6rem; }
    nav ul.open {
      display: block; }
    nav ul li {
      padding: 0px; }
      nav ul li a {
        padding: 8px; }
      nav ul li:last-of-type {
        display: none; }

header {
  height: auto;
  background: none;
  padding: 12% 0 0; }
  header .title {
    background: black;
    padding: 20px 10px 10px 10px; }
    header .title p {
      font-size: 6vw;
      padding: 5px 0 10px; }
    header .title p.t2 {
      font-size: 5vw; }
    header .title h1 {
      font-size: 4.5vw; }
    header .title ul {
      display: block;
      margin: 0 10px; }
      header .title ul li {
        margin-bottom: 10px;
        font-size: 4vw; }
        header .title ul li div {
          padding: 5px 0; }
          header .title ul li div br {
            display: none; }
          header .title ul li div img {
            height: 30px; }
  header .logo img {
    max-width: none;
    width: 10%; }
  header .btn {
    line-height: 150%;
    max-width: none;
    margin: 10px;
    font-size: 3vw; }
    header .btn strong {
      font-size: 4vw; }
    header .btn span.tebura strong {
      font-size: 4vw; }
  header .bg {
    padding-top: 2vh;
    padding-bottom: 30vh;
    background: url("../img/top.jpg") no-repeat;
    background-size: cover;
    background-position: center 54%; }

.box0 {
  text-align: center; }
  .box0 h2 {
    font-size: 3.0rem; }
    .box0 h2 strong {
      font-size: 15px; }

.OPEN {
  margin: 30px 10px 10px 10px;
  padding: 10px;
  background: #0E2748; }
  .OPEN h2 {
    font-size: 4.8vw; }
  .OPEN table {
    width: 100%;
    margin: 0 auto 20px;
    font-size: 2.0rem; }
    .OPEN table th, .OPEN table td {
      border: 2px solid #0E2748;
      padding: 5px 5px 5px; }
    .OPEN table th {
      background: #967800;
      padding-bottom: 5px; }
    .OPEN table td {
      color: #D3C485;
      border-bottom: 2px solid #244B7F; }
  .OPEN ul {
    text-align: left; }
  .OPEN .txt1 {
    display: block;
    margin: 0 auto 20px; }
    .OPEN .txt1 li {
      margin-left: 2em;
      color: #D3C485; }

#CONCEPT {
  padding-top: 34%; }
  #CONCEPT p {
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3.6vw; }

#TRAINER {
  margin-top: 15%;
  margin-right: 0%; }
  #TRAINER section {
    padding: 5em 20px 30px; }
    #TRAINER section h2 {
      font-size: 4.0rem; }
    #TRAINER section .box {
      display: block; }
      #TRAINER section .box .img {
        max-width: 100%; }
        #TRAINER section .box .img img {
          height: 260px;
          object-fit: cover;
          object-position: 0% 20%; }
      #TRAINER section .box .txt {
        padding-top: 20px;
        padding-left: 0%;
        text-align: center; }

#ABOUT {
  margin-top: 50px;
  padding: 20px; }
  #ABOUT section {
    padding: 0;
    display: block; }
    #ABOUT section h3 {
      height: 140px; }
      #ABOUT section h3 strong {
        font-size: 2.0rem;
        bottom: -16px; }
    #ABOUT section p {
      padding: 20px 10px 30px; }
    #ABOUT section:nth-of-type(2) h3 {
      background-position: 50% 60%; }

#SUPPORTS {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px; }
  #SUPPORTS .box {
    display: block;
    padding-top: 30px; }
    #SUPPORTS .box section {
      display: block;
      padding: 0 30px;
      background: rgba(9, 18, 31, 0.8); }
      #SUPPORTS .box section h3 {
        writing-mode: horizontal-tb;
        text-indent: -1em;
        padding-bottom: 20px; }
        #SUPPORTS .box section h3 span {
          display: none;
          transform: none; }
      #SUPPORTS .box section h4 {
        font-size: 2.0rem;
        text-align: left;
        padding: 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #967800; }
      #SUPPORTS .box section img {
        display: none; }
    #SUPPORTS .box .bg {
      background: url("../img/weight.jpg") no-repeat;
      background-size: 70%;
      background-position: center center;
      margin-bottom: 10%; }
      #SUPPORTS .box .bg:nth-of-type(2) {
        background-image: url("../img/kigu.jpg"); }
      #SUPPORTS .box .bg:nth-of-type(3) {
        background-image: url("../img/sasasa.jpg"); }
      #SUPPORTS .box .bg:nth-of-type(4) {
        background-image: url("../img/SPfour.jpg"); }
        #SUPPORTS .box .bg:nth-of-type(4) section {
          background: rgba(9, 18, 31, 0.3); }
      #SUPPORTS .box .bg:nth-of-type(5) {
        background-image: url("../img/book.jpg"); }

#PRICE {
  margin-top: 50px;
  padding: 0 20px; }
  #PRICE h3 {
    font-size: 4.4vw; }
    #PRICE h3 span.small {
      font-size: 4vw; }
  #PRICE section .box {
    display: block;
    text-align: center;
    padding: 10px; }
  #PRICE section table {
    width: 100%;
    margin-top: 0px; }
    #PRICE section table th, #PRICE section table td {
      padding: 3px; }
  #PRICE section ul {
    display: inline-block;
    padding-bottom: 10px; }
  #PRICE section .txt p {
    text-align: center; }

#GALLERY {
  margin-top: 50px; }
  #GALLERY div {
    display: block;
    justify-content: flex-start; }
    #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) {
      flex-basis: 70%; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) span {
        height: 60vw; }
    #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) {
      flex-basis: 30%; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) span {
        height: 40vw; }
    #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) {
      flex-basis: 60%; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) span {
        height: 30vw; }
    #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) {
      flex-basis: 40%; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) span {
        height: 30vw; }
    #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) {
      flex-basis: 40%; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) span {
        height: 40vw; }
    #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) {
      flex-basis: 60%; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) span {
        height: 60vw; }
    #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) {
      background-image: url("../img/gallery2.jpg");
      flex-basis: 60%; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) span {
        height: 60vw; }
    #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) {
      background-image: url("../img/rady.jpg");
      flex-basis: 40%; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) span {
        height: 40vw; }
    #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) {
      flex-basis: 60%; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) span {
        height: 30vw; }
    #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) {
      flex-basis: 40%; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) span {
        height: 30vw; }

#ACCESS {
  margin-top: 50px; }

#CONTACT {
  margin-top: 50px; }

#MONITOR {
  padding: 50px 10px 40px;
  background: url("../img/monitor_bg_sp.png") no-repeat #280E06;
  background-size: 100% auto;
  background-position: top center; }
  #MONITOR h3 {
    font-size: 2.0rem;
    padding: 0 0 5px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #d3c485; }
  #MONITOR table {
    margin: 0 auto; }
  #MONITOR section.mr {
    display: block; }
    #MONITOR section.mr img {
      max-width: 400px;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding-bottom: 10px; }
    #MONITOR section.mr div {
      width: 100%;
      padding-left: 0%;
      max-width: none; }
  #MONITOR .hoka {
    font-size: 1.6rem; }
    #MONITOR .hoka strong {
      font-size: 1.8rem; }
    #MONITOR .hoka a {
      font-size: 4vw; }
      #MONITOR .hoka a strong {
        font-size: 5vw;
        letter-spacing: 1px; }
        #MONITOR .hoka a strong span {
          font-size: 4vw; }

#HIKAKU {
  padding-bottom: 40px; }
  #HIKAKU h2 {
    width: 15em;
    font-size: 5vw; }
  #HIKAKU div table {
    margin: 30px 0 10px; }
    #HIKAKU div table th, #HIKAKU div table td {
      padding: 5px;
      font-size: 1.3rem;
      line-height: 150%; }
    #HIKAKU div table tr.top th {
      line-height: 120%;
      font-size: 1.5rem; }
      #HIKAKU div table tr.top th span {
        font-size: 80%; }
    #HIKAKU div table tr td:nth-of-type(2) {
      font-size: 1.5rem; }
    #HIKAKU div table.option th, #HIKAKU div table.option td {
      border: #04a6ac solid 1px; }
    #HIKAKU div table.option th {
      background: #04a6ac;
      border-bottom: #000 solid 1px; }
    #HIKAKU div table.option tr.top th {
      border-bottom: #04a6ac solid 1px; }
      #HIKAKU div table.option tr.top th:nth-of-type(1) {
        color: #04a6ac; }
    #HIKAKU div table.after th, #HIKAKU div table.after td {
      border: #818181 solid 1px; }
    #HIKAKU div table.after th {
      background: #818181;
      border-bottom: #000 solid 1px; }
    #HIKAKU div table.after tr.top th {
      border-bottom: #818181 solid 1px; }
      #HIKAKU div table.after tr.top th:nth-of-type(1) {
        color: #818181; }
  #HIKAKU div .txt2 {
    font-size: 1.3rem; }

#new_SUPPORT section dl dt:nth-last-of-type(1) {
  float: none;
  margin-bottom: 5px;
  width: 100%; }
#new_SUPPORT section dl dd:nth-last-of-type(1) {
  padding-left: 0em; }

footer {
  margin-top: 50px;
  font-size: 1.3rem; }
