@charset "UTF-8";
.sp {
  display: none !important; }

.pc {
  display: inline-block !important; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Noto Serif JP', serif;
  background: #fff;
  font-size: 1.5rem;
  line-height: 180%;
  color: #fff;
  background: #000; }

img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden; }

a {
  color: #fff;
  transition: all 0.3s ease 0s; }
  a:hover {
    opacity: 0.5; }

strong {
  font-weight: 700; }

.ytxt {
  color: #D3C485; }

.txtC {
  text-align: center; }

p {
  padding-bottom: 15px; }

.box {
  display: flex;
  flex-wrap: wrap; }

sup {
  vertical-align: super;
  font-size: 80%; }

.txt2 {
  display: inline-block;
  list-style: none;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 150%; }

.l_none {
  list-style: none;
  text-indent: -1em;
  padding-left: 1em;
  margin-left: 0.5em !important; }

nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000; }
  nav .btn-trigger {
    display: none; }
  nav ul {
    font-size: 1vw;
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      padding: 0 10px;
      text-align: center; }
      nav ul li a {
        display: block;
        padding: 20px 0px;
        text-decoration: none; }
      nav ul li:last-of-type {
        margin-left: 10px;
        padding: 0; }
        nav ul li:last-of-type a {
          padding: 20px 20px;
          background: linear-gradient(312deg, #24a6b5 17%, #295982 98%); }
  nav .contact_btn {
    display: none; }
  @media screen and (max-width: 1143px) {
    nav {
      display: flex;
      justify-content: space-between; }
      nav .contact_btn {
        padding: 3px 0;
        font-size: 1.9rem;
        text-decoration: none;
        text-align: center;
        width: 70%;
        margin-left: 10px;
        align-self: center;
        display: block;
        z-index: 999;
        background: linear-gradient(312deg, #24a6b5 17%, #295982 98%); }
        nav .contact_btn:hover {
          opacity: 1.0; }
      nav .btn-trigger {
        margin: 10px;
        display: block;
        z-index: 99;
        margin: 10px;
        border-radius: 10px;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer; }
        nav .btn-trigger span {
          position: absolute;
          left: 0px;
          width: 100%;
          height: 4px;
          background-color: #fff;
          border-radius: 4px; }
        nav .btn-trigger, nav .btn-trigger span {
          display: inline-block;
          transition: all .5s;
          box-sizing: border-box; }
        nav .btn-trigger span:nth-of-type(1) {
          top: 0px; }
        nav .btn-trigger span:nth-of-type(2) {
          top: 13px; }
        nav .btn-trigger span:nth-of-type(3) {
          bottom: 0px; }
        nav .btn-trigger.open span:nth-of-type(1) {
          -webkit-transform: translateY(22px) rotate(-45deg);
          transform: translateY(16px) rotate(-45deg); }
        nav .btn-trigger.open span:nth-of-type(2) {
          opacity: 0; }
        nav .btn-trigger.open span:nth-of-type(3) {
          -webkit-transform: translateY(-13px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg); }
      nav ul {
        display: none;
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.91);
        padding-top: 50px;
        padding-bottom: 15px;
        font-size: 1.6rem; }
        nav ul.open {
          display: block; }
        nav ul li {
          padding: 5px; }
          nav ul li a {
            display: inline-block;
            padding: 8px; }
          nav ul li:last-of-type {
            display: none; } }

header {
  text-align: center;
  letter-spacing: 2px;
  background: url("../img/top01.png") no-repeat;
  background-size: cover;
  background-position: center; }
  header .title {
    padding: 30vh 0 30vh; }
    header .title h1 {
      font-weight: normal;
      letter-spacing: 4px;
      font-size: 2.0rem;
      padding-bottom: 20px;
      line-height: 150%;
      text-shadow: 0px 0px 14px #210c0c, 0px 0px 6px #210c0c, 0px 0px 6px #210c0c, 0px 0px 6px #210c0c; }
      header .title h1 strong {
        display: block;
        font-weight: normal;
        font-size: 4.5rem;
        line-height: 150%;
        letter-spacing: 10px;
        padding-top: 20px; }
  header p {
    background: #CD0044;
    display: inline-block;
    padding: 5px 20px;
    line-height: 100%;
    font-size: 2.0rem; }
  header .logo {
    text-align: center; }
    header .logo img {
      max-width: 100px; }

.top_txt .trial {
  border-radius: 10px 10px 5px 5px;
  background: #242424;
  display: inline-block;
  text-align: center;
  max-width: 800px;
  width: 80%;
  margin: 50px 10px 10px;
  text-decoration: none;
  letter-spacing: 3px; }
  .top_txt .trial span {
    display: block; }
  .top_txt .trial .trial_1 {
    padding: 10px;
    font-size: 2.5rem;
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(90deg, #8b6b1e 0%, #aa9b2b 100%); }
  .top_txt .trial .trial_2 {
    color: #D3C485;
    font-weight: bold;
    font-size: 3.0rem;
    padding: 20px 0; }
  .top_txt .trial .trial_3 {
    color: #D3C485;
    border: #D3C485 solid 1px;
    display: inline-block;
    padding: 2px 20px;
    font-size: 1.8rem; }
  .top_txt .trial .trial_4 {
    text-decoration: underline;
    padding: 10px 0 15px; }
.top_txt .top_point p.t2 {
  padding: 20px 0;
  line-height: 150%;
  font-size: 2.5rem;
  letter-spacing: 4px; }
  .top_txt .top_point p.t2 strong {
    color: #D3C485;
    font-weight: normal; }
.top_txt .top_point ul {
  list-style: none;
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .top_txt .top_point ul li {
    letter-spacing: 2px;
    flex-basis: 31%;
    background: rgba(150, 120, 0, 0.82);
    padding: 4px;
    font-size: 1.8rem;
    display: flex; }
    .top_txt .top_point ul li div {
      padding: 5px 0 8px;
      flex-basis: 100%;
      border: 1px solid #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .top_txt .top_point ul li div .txt {
        flex-basis: 100%;
        display: block;
        order: 1; }
      .top_txt .top_point ul li div img {
        width: auto;
        height: 45px;
        order: 2; }
    .top_txt .top_point ul li .t1 {
      font-size: 90%; }
    .top_txt .top_point ul li .t2 {
      letter-spacing: 1px; }

.box0 {
  text-align: center; }
  .box0 h2 {
    line-height: 150%;
    font-weight: normal;
    color: #D3C485;
    letter-spacing: 2px;
    font-size: 4.0rem;
    margin-bottom: 40px; }
    .box0 h2 strong {
      display: block;
      font-weight: normal;
      font-size: 1.5rem;
      color: #fff;
      line-height: 100%; }

.top_img1 {
  margin-top: 60px;
  background: url("../img/top02.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh; }
  .top_img1.top_img2 {
    background-image: url("../img/top.jpg"); }

.OPEN {
  max-width: 850px;
  margin: 60px auto 30px; }
  .OPEN h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid #967800;
    margin-bottom: 30px;
    padding-bottom: 10px;
    line-height: 130%; }
    .OPEN h2 strong {
      display: inline-block;
      background: #D3C485;
      color: #000;
      padding: 5px; }
    .OPEN h2 img {
      width: 40px;
      padding-right: 15px; }
  .OPEN .flex {
    display: flex;
    padding: 0 20px; }
    .OPEN .flex .img {
      flex-basis: 49%; }
    .OPEN .flex .trial_in {
      flex-basis: 51%;
      padding: 20px; }
  .OPEN .syokai {
    border: 4px double #967800;
    padding: 20px 20px 0;
    margin-bottom: 30px;
    background: #071526; }
    .OPEN .syokai .img img {
      width: 75%;
      padding: 0 7% 0 10%; }
  .OPEN .cmp_detel {
    border: 4px double #967800;
    padding: 20px;
    background: #0E2748; }
    .OPEN .cmp_detel .price_txt {
      border: 2px solid #D3C485;
      background: #020F20;
      margin-bottom: 20px;
      padding: 10px;
      letter-spacing: 3px;
      font-size: 1.7rem; }
      .OPEN .cmp_detel .price_txt strong {
        color: #D3C485;
        font-size: 150%; }
  .OPEN ul {
    text-align: left; }
  .OPEN .txt1 li {
    margin-left: 2em;
    color: #D3C485; }

#CONCEPT {
  margin: 60px auto;
  letter-spacing: 2px;
  line-height: 150%;
  background: url("../img/consepts.jpg") no-repeat top center;
  background-size: 80% auto;
  max-width: 800px;
  padding-top: 280px; }
  #CONCEPT p strong {
    color: #D3C485;
    font-size: 120%; }
  #CONCEPT .line {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    #CONCEPT .line span {
      color: #967800; }
    #CONCEPT .line:before, #CONCEPT .line:after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background: #fff;
      margin: 0 1em; }

#TRAINER {
  margin-top: 150px;
  text-align: left;
  margin-right: 10%;
  background: #050E1A; }
  #TRAINER section {
    position: relative;
    padding: 5em 20px 30px; }
    @media screen and (min-width: 1000px) {
      #TRAINER section {
        padding-left: 15%; } }
    #TRAINER section h2 {
      position: absolute;
      top: -37px;
      font-size: 5.0rem;
      color: #757575; }
    #TRAINER section h3 {
      font-weight: normal;
      font-size: 2.8rem;
      padding-bottom: 10px; }
      #TRAINER section h3 strong {
        font-weight: normal;
        font-size: 1.6rem;
        color: #D3C485; }
    #TRAINER section .from {
      padding-bottom: 20px; }
    #TRAINER section .box .img {
      flex-basis: 40%;
      max-width: 400px; }
    #TRAINER section .box .txt {
      flex-basis: 57%;
      padding-left: 3%; }
      #TRAINER section .box .txt p {
        line-height: 200%; }
    #TRAINER section .blog {
      background: rgba(46, 75, 87, 0.5);
      padding: 10px;
      line-height: 150% !important;
      text-align: center; }

#ABOUT {
  margin-top: 150px;
  letter-spacing: 2px; }
  #ABOUT section {
    padding-top: 40px;
    text-align: left;
    display: flex; }
    #ABOUT section h3 {
      flex-basis: 50%;
      background: url("../img/gallery3.jpg") no-repeat center center;
      background-size: cover;
      border-bottom: 30px solid #142031;
      position: relative;
      text-shadow: 0px 0px 11px black; }
      #ABOUT section h3 strong {
        font-size: 2.8rem;
        position: absolute;
        bottom: -25px;
        display: block;
        padding: 0 20px;
        color: #D3C485; }
        #ABOUT section h3 strong span {
          color: #fff;
          font-size: 1.5rem;
          font-weight: normal; }
    #ABOUT section p {
      flex-basis: 46%;
      padding: 30px 2% 40px;
      font-size: 1.4rem; }
    @media screen and (min-width: 1390px) {
      #ABOUT section:nth-of-type(1) h3 strong, #ABOUT section:nth-of-type(3) h3 strong {
        padding-left: 20%; } }
    #ABOUT section:nth-of-type(2) h3 {
      order: 2;
      background-image: url("../img/top.jpg"); }
    #ABOUT section:nth-of-type(2) p {
      order: 1; }
      @media screen and (min-width: 1450px) {
        #ABOUT section:nth-of-type(2) p {
          flex-basis: 35%;
          padding-left: 13%; } }
    #ABOUT section:nth-of-type(3) h3 {
      background-image: url("../img/gallery1.jpg"); }

#SUPPORTS {
  margin-top: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #09121F; }
  #SUPPORTS .box {
    padding-top: 60px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center; }
    #SUPPORTS .box .bg {
      flex-basis: 31%;
      padding: 0 1%; }
    #SUPPORTS .box section {
      display: flex;
      padding: 0 2% 5%; }
      #SUPPORTS .box section img {
        object-fit: cover;
        height: 200px; }
      #SUPPORTS .box section h3 {
        writing-mode: vertical-rl;
        text-align: left;
        font-size: 3.0rem;
        padding-right: 10px;
        display: flex;
        align-items: center; }
        #SUPPORTS .box section h3 span {
          transform: scale(0.5, 4); }
      #SUPPORTS .box section p {
        text-align: left;
        font-size: 1.4rem; }

#PRICE {
  margin-top: 150px; }
  #PRICE h3 {
    color: #D3C485;
    background: #152944;
    padding: 10px;
    font-size: 2.0rem; }
    #PRICE h3 span {
      color: #fff;
      font-weight: normal;
      font-size: 1.8rem; }
      #PRICE h3 span span {
        font-size: 1.4rem; }
    #PRICE h3 strong {
      background: #DB0048;
      padding: 0px 5px 2px; }
  #PRICE ul.nyuukai {
    margin: 15px 30px 0;
    border: 1px solid #D3C485;
    color: #D3C485;
    font-size: 1.4rem;
    text-align: left;
    list-style: none;
    padding: 10px 10px 5px; }
    #PRICE ul.nyuukai li {
      line-height: 150%;
      text-indent: -1em;
      margin-left: 0em;
      padding-bottom: 5px;
      padding-left: 1em; }
  #PRICE .opne_btn {
    text-align: center;
    padding-bottom: 40px;
    line-height: 150%; }
    #PRICE .opne_btn a {
      display: inline-block;
      background-color: rgba(37, 174, 186, 0.5);
      border: 2px solid #25aeba;
      border-radius: 500px;
      padding: 10px 20px;
      text-decoration: none; }
  #PRICE .all {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 40px; }
    #PRICE .all dt {
      background: #967800;
      font-size: 2.0rem;
      padding: 10px; }
    #PRICE .all dd {
      color: #D3C485;
      font-size: 2.3rem;
      font-weight: bold;
      padding: 10px; }
  #PRICE .small {
    font-size: 1.3rem;
    padding-bottom: 0; }
  #PRICE section {
    background: #09121F;
    max-width: 900px;
    margin: 0 auto 30px; }
    #PRICE section .box {
      padding: 20px 30px; }
    #PRICE section ul {
      text-align: left; }
      #PRICE section ul li {
        margin-left: 2em; }
    #PRICE section .txt2 {
      padding-top: 15px; }
      #PRICE section .txt2 li {
        margin-left: 0em; }
    #PRICE section table th, #PRICE section table td {
      border: 2px solid #09121F;
      padding: 5px 5px 5px; }
    #PRICE section table th {
      background: #967800;
      padding-bottom: 5px; }
    #PRICE section table td {
      color: #D3C485;
      border-bottom: 2px solid #152944; }
    #PRICE section .txt {
      flex-basis: 40%; }
    #PRICE section .pr {
      flex-basis: 60%; }
      #PRICE section .pr table {
        width: 100%; }
    #PRICE section p {
      text-align: left;
      padding-left: 0.5em; }
    #PRICE section h4 {
      text-align: left;
      border-left: 10px solid #967800;
      margin: 20px 0 10px;
      padding-left: 10px; }
      #PRICE section h4 span {
        color: #D3C485;
        font-weight: normal; }

#GALLERY {
  margin-top: 150px; }
  #GALLERY div {
    padding-top: 3%;
    display: flex; }
    #GALLERY div ul {
      list-style: none;
      flex-basis: 34%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start; }
      #GALLERY div ul li {
        font-size: 0;
        line-height: 100%;
        object-fit: cover;
        background: #ddd no-repeat center center;
        background-size: cover; }
        #GALLERY div ul li span {
          display: block;
          width: 100%; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) {
        flex-basis: 100%;
        background-image: url("../img/gallery1.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) {
        flex-basis: 43%;
        background-image: url("../img/pipic.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(3) {
        flex-basis: 43%;
        background-image: url("../img/starr.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) {
        flex-basis: 60%;
        background-image: url("../img/gallery3.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) {
        flex-basis: 40%;
        background-image: url("../img/gallery4.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) {
        flex-basis: 40%;
        background-image: url("../img/baby.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) {
        flex-basis: 60%;
        background-image: url("../img/boy.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) {
        flex-basis: 40%;
        background-image: url("../img/rady.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) {
        flex-basis: 60%;
        background-image: url("../img/gallery2.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) {
        flex-basis: 60%;
        background-image: url("../img/star.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) {
        flex-basis: 40%;
        background-image: url("../img/gallery5.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) span {
          height: 12.5vw; }

#ACCESS {
  margin-top: 150px; }
  #ACCESS iframe {
    padding: 0 0 2%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 400px; }

#CONTACT {
  margin-top: 150px;
  padding: 0 20px; }
  #CONTACT img.qr {
    max-width: 150px;
    padding-bottom: 10px; }
  #CONTACT img.btn {
    max-width: 232px; }
  #CONTACT p strong {
    color: #D3C485;
    font-size: 2.5rem; }
  #CONTACT a {
    color: #D3C485; }
  #CONTACT h3 {
    background: rgba(183, 151, 84, 0.2);
    border: #D3C485 solid 1px;
    color: #D3C485;
    max-width: 15em;
    margin: 0 auto 10px; }
    #CONTACT h3:nth-of-type(2) {
      margin-top: 10px; }

.comment {
  margin: 10px 0;
  padding: 10px;
  background: #161616;
  text-align: center; }
  .comment p {
    font-size: 13px; }
  .comment h3 {
    text-align: center; }
  .comment strong {
    color: #D3C485;
    font-weight: normal; }

#MONITOR {
  padding: 80px 10px;
  background: url("../img/monitor_bg.png") no-repeat;
  background-size: cover; }
  #MONITOR h3 {
    text-align: left;
    max-width: 1020px;
    margin: 30px auto 0;
    font-size: 2.4rem;
    font-weight: normal;
    padding: 10px 10px;
    background: #D3C485;
    color: #000;
    cursor: pointer;
    position: relative; }
    #MONITOR h3 span.com {
      display: block;
      font-size: 1.4rem;
      color: #86000d;
      padding-right: 30px;
      line-height: 100%; }
    #MONITOR h3 strong {
      background: #14547e;
      color: #fff;
      padding: 0 3px;
      font-weight: normal;
      font-size: 80%; }
    #MONITOR h3.f strong {
      background: #d32b55; }
    #MONITOR h3.open .toggle_btn:before {
      content: normal; }
    #MONITOR h3 .toggle_btn {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: #000;
      display: block;
      width: 24px;
      height: 24px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      border-radius: 50%; }
    #MONITOR h3 .toggle_btn:before, #MONITOR h3 .toggle_btn:after {
      display: block;
      content: '';
      background-color: #fff;
      position: absolute;
      width: 10px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #MONITOR h3 .toggle_btn:before {
      width: 2px;
      height: 10px; }
  #MONITOR div.box {
    margin: 0 auto 0;
    max-width: 1040px;
    padding: 0;
    display: none; }
  #MONITOR div.mr {
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-align: left;
    background: rgba(63, 63, 63, 0.8);
    justify-content: space-between;
    align-items: flex-start; }
    #MONITOR div.mr img {
      max-width: 440px;
      width: 34%;
      height: auto; }
    #MONITOR div.mr div.detail {
      width: 64%;
      padding-left: 1%;
      max-width: 635px; }
      #MONITOR div.mr div.detail table {
        margin-bottom: 10px; }
        #MONITOR div.mr div.detail table th {
          font-weight: normal; }
        #MONITOR div.mr div.detail table td {
          color: #d3c485;
          padding-left: 10px; }
      #MONITOR div.mr div.detail .txt {
        background: #131313;
        padding: 10px; }
        #MONITOR div.mr div.detail .txt h4 {
          border-bottom: #D3C485 2px solid;
          color: #D3C485;
          padding: 0 5px 2px;
          margin-bottom: 5px;
          font-weight: normal; }
        #MONITOR div.mr div.detail .txt p.top {
          background: rgba(255, 255, 255, 0.21);
          padding: 5px;
          margin-bottom: 10px; }
  #MONITOR .hoka {
    padding-top: 50px;
    color: #d3c485;
    font-size: 1.8rem;
    text-shadow: 0px 0px 11px black; }
    #MONITOR .hoka strong {
      font-size: 2.3rem;
      font-weight: normal; }
    #MONITOR .hoka ul {
      max-width: 400px;
      text-align: left;
      margin: 0 auto;
      background: #09121f;
      padding: 10px;
      margin-bottom: 10px;
      border: #d3c485 solid 1px; }
      #MONITOR .hoka ul li {
        margin-left: 2em;
        width: 14em;
        margin: 0 auto; }
    #MONITOR .hoka a {
      text-shadow: none;
      display: block;
      margin: 0 auto;
      max-width: 675px;
      padding: 10px;
      background: linear-gradient(312deg, #24a6b5 17%, #295982 98%);
      border-radius: 200px;
      text-decoration: none;
      line-height: 180%; }
      #MONITOR .hoka a strong {
        font-size: 2.0rem;
        letter-spacing: 2px; }
        #MONITOR .hoka a strong span {
          font-size: 1.8rem; }

#HIKAKU {
  padding: 0 15px; }
  #HIKAKU h2 {
    display: flex;
    align-items: center;
    width: 15em;
    margin: 50px auto;
    font-size: 3.0rem;
    font-weight: normal; }
    #HIKAKU h2:before, #HIKAKU h2:after {
      content: "";
      flex-grow: 1;
      height: 1px;
      /* 線の太さ */
      background: #fff;
      /* 線の色 */
      margin: 0 1em;
      /* 文字と線の余白 */ }
  #HIKAKU div {
    max-width: 600px;
    margin: 0 auto; }
    #HIKAKU div table {
      width: 100%;
      margin: 30px 0 10px; }
      #HIKAKU div table th, #HIKAKU div table td {
        border: #967800 solid 1px;
        padding: 5px;
        text-align: center;
        vertical-align: middle; }
      #HIKAKU div table th {
        background: #967800;
        border-bottom: #000 solid 1px;
        font-weight: normal; }
      #HIKAKU div table tr.top th {
        background: none;
        border: none;
        border-bottom: #967800 solid 1px;
        line-height: 120%;
        font-size: 1.8rem; }
        #HIKAKU div table tr.top th span {
          font-size: 80%; }
        #HIKAKU div table tr.top th:nth-of-type(1), #HIKAKU div table tr.top th:nth-of-type(3) {
          color: #d3c485; }
      #HIKAKU div table tr td:nth-of-type(1) {
        border-right: none; }
      #HIKAKU div table tr td:nth-of-type(2) {
        border-left: none;
        color: #d3c485;
        font-size: 1.8rem; }
      #HIKAKU div table.option th, #HIKAKU div table.option td {
        border: #04a6ac solid 1px; }
      #HIKAKU div table.option th {
        background: #04a6ac;
        border-bottom: #000 solid 1px; }
      #HIKAKU div table.option tr.top th {
        border-bottom: #04a6ac solid 1px; }
        #HIKAKU div table.option tr.top th:nth-of-type(1) {
          color: #04a6ac; }
      #HIKAKU div table.after th, #HIKAKU div table.after td {
        border: #818181 solid 1px; }
      #HIKAKU div table.after th {
        background: #818181;
        border-bottom: #000 solid 1px; }
      #HIKAKU div table.after tr.top th {
        border-bottom: #818181 solid 1px; }
        #HIKAKU div table.after tr.top th:nth-of-type(1) {
          color: #818181; }
    #HIKAKU div .txt2 a {
      background: #876d2c;
      padding: 0px 5px 5px 5px; }

#new_SUPPORT {
  padding: 20px; }
  #new_SUPPORT h2 {
    text-align: center;
    color: #D3C485;
    font-size: 2.8rem;
    padding-bottom: 10px;
    letter-spacing: 1px; }
  #new_SUPPORT section {
    border: 2px solid #D3C485;
    padding: 20px 20px 0;
    max-width: 860px;
    margin: 0 auto 30px; }
    #new_SUPPORT section p strong {
      color: #D3C485;
      font-weight: normal;
      font-size: 120%; }
    #new_SUPPORT section h3 {
      background: #D3C485;
      border-radius: 10px 10px 0px 0px;
      padding: 5px 10px;
      color: #000;
      font-size: 2.0rem;
      margin: 10px 0; }
    #new_SUPPORT section dl {
      overflow: hidden;
      margin-bottom: 20px; }
      #new_SUPPORT section dl dt {
        width: 4em;
        float: left;
        background: #967800;
        text-align: center;
        letter-spacing: 2px; }
      #new_SUPPORT section dl dd {
        padding-left: 5em;
        margin-bottom: 10px;
        color: #D3C485; }

footer {
  margin-top: 150px;
  text-align: center;
  background: #09121F;
  padding: 3% 20px; }
  footer .logo img {
    max-width: 100px; }
  footer h2 {
    font-weight: normal; }
    footer h2 strong {
      color: #967800; }
