@charset "UTF-8";
.sp {
  display: none !important; }

.pc {
  display: inline-block !important; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Noto Serif JP', serif;
  background: #fff;
  font-size: 1.5rem;
  line-height: 180%;
  color: #fff;
  background: #000; }

img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden; }

a {
  color: #fff;
  transition: all 0.3s ease 0s; }
  a:hover {
    opacity: 0.5; }

strong {
  font-weight: 700; }

.ytxt {
  color: #D3C485; }

.txtC {
  text-align: center; }

p {
  padding-bottom: 15px; }

.box {
  display: flex;
  flex-wrap: wrap; }

sup {
  vertical-align: super;
  font-size: 80%; }

.txt2 {
  display: inline-block;
  list-style: none;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 150%; }

.l_none {
  list-style: none;
  text-indent: -1em;
  padding-left: 1em;
  margin-left: 0.5em !important; }

nav {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000; }
  nav .btn-trigger {
    display: none; }
  nav ul {
    font-size: 1vw;
    display: flex;
    justify-content: flex-end; }
    @media screen and (min-width: 1000px) {
      nav ul {
        font-size: 1.4rem;
        padding: 0; } }
    nav ul li {
      padding: 0 10px;
      text-align: center; }
      nav ul li a {
        display: block;
        padding: 20px 0px;
        text-decoration: none; }
      nav ul li:last-of-type {
        margin-left: 10px;
        padding: 0; }
        nav ul li:last-of-type a {
          padding: 20px 20px;
          background: linear-gradient(312deg, #24a6b5 17%, #295982 98%); }

header {
  text-align: center;
  letter-spacing: 2px;
  background: url("../img/top.jpg") no-repeat;
  background-size: cover;
  padding: 18vh 0 10vh; }
  header .title {
    background: rgba(0, 0, 0, 0.65);
    padding: 20px;
    text-shadow: 0px 0px 15px black; }
    header .title p {
      font-weight: normal;
      font-size: 4rem;
      padding: 10px 0 20px; }
      header .title p strong {
        color: #D3C485; }
    header .title p.t2 {
      padding: 5px 0 10px;
      line-height: 150%;
      font-size: 2.0rem; }
      header .title p.t2 strong {
        color: #D3C485;
        font-weight: normal; }
    header .title h1 {
      font-weight: normal;
      font-size: 2.4rem;
      line-height: 150%; }
      header .title h1 .t1 {
        font-size: 80%; }
    header .title ul {
      list-style: none;
      max-width: 820px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      header .title ul li {
        flex-basis: 31%;
        background: rgba(150, 120, 0, 0.82);
        padding: 4px;
        font-size: 1.8rem;
        display: flex; }
        header .title ul li div {
          padding: 5px 0 8px;
          flex-basis: 100%;
          border: 1px solid #fff;
          display: flex;
          flex-wrap: wrap;
          justify-content: center; }
          header .title ul li div .txt {
            flex-basis: 100%;
            display: block;
            order: 1; }
          header .title ul li div img {
            width: auto;
            height: 45px;
            order: 2; }
        header .title ul li .t1 {
          font-size: 90%; }
        header .title ul li .t2 {
          letter-spacing: 1px; }
  header .logo {
    text-align: center; }
    header .logo img {
      max-width: 50px; }
  header .btn {
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px #777777;
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 650px;
    margin: 20px auto;
    padding-bottom: 10px;
    background: rgba(255, 251, 251, 0.85);
    color: #295982;
    font-size: 1.6rem; }
    header .btn:hover {
      opacity: 1; }
    header .btn strong {
      font-size: 2.2rem; }
      header .btn strong.syokai {
        font-size: 2.5rem;
        text-decoration: underline;
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.99); }
      header .btn strong.cmp {
        background: #db0048;
        border-radius: 100px;
        color: #fff;
        padding: 2px 15px;
        margin: 3px 10px;
        display: inline-block; }
      header .btn strong.nokori {
        border: 1px solid #db0048;
        margin: 5px 0;
        display: inline-block;
        color: #db0048;
        padding: 5px;
        font-weight: bold; }
    header .btn ul {
      font-size: 1.3rem;
      text-align: left;
      list-style: none; }
      header .btn ul li {
        line-height: 150%;
        text-indent: -1em;
        padding: 0 1.5em 5px 3rem; }
    header .btn span.syousai {
      text-decoration: underline; }
    header .btn span.tebura {
      border-radius: 10px 10px 0px 0px;
      display: block;
      background: linear-gradient(312deg, #24a6b5 17%, #295982 98%);
      padding: 5px;
      color: #fff;
      margin-bottom: 10px;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0); }
      header .btn span.tebura strong {
        font-size: 2.0rem;
        text-decoration: none; }

.box0 {
  text-align: center; }
  .box0 h2 {
    line-height: 150%;
    font-weight: normal;
    color: #D3C485;
    letter-spacing: 2px;
    font-size: 4.0rem;
    margin-bottom: 40px; }
    .box0 h2 strong {
      display: block;
      font-weight: normal;
      font-size: 1.5rem;
      color: #fff;
      line-height: 100%; }

.OPEN {
  max-width: 800px;
  margin: 60px auto 30px;
  padding: 30px;
  background: #0E2748; }
  .OPEN h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid #967800;
    margin-bottom: 10px;
    padding-bottom: 5px;
    line-height: 130%; }
    .OPEN h2 span {
      color: #fff;
      font-size: 80%; }
  .OPEN .syokai {
    border: 4px double #967800;
    padding: 10px 10px 0;
    margin-bottom: 30px;
    background: #071526; }
    .OPEN .syokai .nokori {
      background: #1F4B7E;
      padding: 5px;
      margin-bottom: 5px;
      font-size: 1.9rem;
      font-weight: bold; }
      .OPEN .syokai .nokori strong {
        color: #FF78A5; }
      .OPEN .syokai .nokori small {
        font-size: 1.4rem;
        font-weight: normal; }
  .OPEN table {
    width: 80%;
    margin: 0 auto 20px;
    font-size: 2.0rem; }
    .OPEN table th, .OPEN table td {
      border: 2px solid #0E2748; }
    .OPEN table th {
      padding: 5px 5px 5px;
      background: #967800;
      padding-bottom: 5px; }
    .OPEN table td {
      padding: 5px 10px 5px;
      font-size: 1.6rem;
      border-bottom: 2px solid #244B7F; }
      .OPEN table td strong {
        font-size: 2.8rem;
        color: #D3C485; }
  .OPEN ul {
    text-align: left; }
  .OPEN .txt1 {
    display: inline-block;
    margin: 0 auto 20px; }
    .OPEN .txt1 li {
      margin-left: 2em;
      color: #D3C485; }
  .OPEN .cmp_detel h2 {
    font-size: 2.7rem;
    color: #fff; }
    .OPEN .cmp_detel h2 span {
      background: linear-gradient(transparent 60%, #751348 60%);
      padding: 0 0.5em; }

#CONCEPT {
  margin: 60px auto;
  letter-spacing: 2px;
  line-height: 150%;
  background: url("../img/consepts.jpg") no-repeat top center;
  background-size: 80% auto;
  max-width: 800px;
  padding-top: 280px; }
  #CONCEPT p strong {
    color: #D3C485;
    font-size: 120%; }
  #CONCEPT .line {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    #CONCEPT .line span {
      color: #967800; }
    #CONCEPT .line:before, #CONCEPT .line:after {
      content: "";
      flex-grow: 1;
      height: 1px;
      background: #fff;
      margin: 0 1em; }

#TRAINER {
  margin-top: 150px;
  text-align: left;
  margin-right: 10%;
  background: #050E1A; }
  #TRAINER section {
    position: relative;
    padding: 5em 20px 30px; }
    @media screen and (min-width: 1000px) {
      #TRAINER section {
        padding-left: 15%; } }
    #TRAINER section h2 {
      position: absolute;
      top: -37px;
      font-size: 5.0rem;
      color: #757575; }
    #TRAINER section h3 {
      font-weight: normal;
      font-size: 2.8rem;
      padding-bottom: 10px; }
      #TRAINER section h3 strong {
        font-weight: normal;
        font-size: 1.6rem;
        color: #D3C485; }
    #TRAINER section .from {
      padding-bottom: 20px; }
    #TRAINER section .box .img {
      flex-basis: 40%;
      max-width: 400px; }
    #TRAINER section .box .txt {
      flex-basis: 57%;
      padding-left: 3%; }
      #TRAINER section .box .txt p {
        line-height: 200%; }
    #TRAINER section .blog {
      background: rgba(46, 75, 87, 0.5);
      padding: 10px;
      line-height: 150% !important;
      text-align: center; }

#ABOUT {
  margin-top: 150px;
  letter-spacing: 2px; }
  #ABOUT section {
    padding-top: 40px;
    text-align: left;
    display: flex; }
    #ABOUT section h3 {
      flex-basis: 50%;
      background: url("../img/gallery3.jpg") no-repeat center center;
      background-size: cover;
      border-bottom: 30px solid #142031;
      position: relative;
      text-shadow: 0px 0px 11px black; }
      #ABOUT section h3 strong {
        font-size: 2.8rem;
        position: absolute;
        bottom: -25px;
        display: block;
        padding: 0 20px;
        color: #D3C485; }
        #ABOUT section h3 strong span {
          color: #fff;
          font-size: 1.5rem;
          font-weight: normal; }
    #ABOUT section p {
      flex-basis: 46%;
      padding: 30px 2% 40px;
      font-size: 1.4rem; }
    @media screen and (min-width: 1390px) {
      #ABOUT section:nth-of-type(1) h3 strong, #ABOUT section:nth-of-type(3) h3 strong {
        padding-left: 20%; } }
    #ABOUT section:nth-of-type(2) h3 {
      order: 2;
      background-image: url("../img/top.jpg"); }
    #ABOUT section:nth-of-type(2) p {
      order: 1; }
      @media screen and (min-width: 1450px) {
        #ABOUT section:nth-of-type(2) p {
          flex-basis: 35%;
          padding-left: 13%; } }
    #ABOUT section:nth-of-type(3) h3 {
      background-image: url("../img/gallery1.jpg"); }

#SUPPORTS {
  margin-top: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #09121F; }
  #SUPPORTS .box {
    padding-top: 60px;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center; }
    #SUPPORTS .box .bg {
      flex-basis: 31%;
      padding: 0 1%; }
    #SUPPORTS .box section {
      display: flex;
      padding: 0 2% 5%; }
      #SUPPORTS .box section img {
        object-fit: cover;
        height: 200px; }
      #SUPPORTS .box section h3 {
        writing-mode: vertical-rl;
        text-align: left;
        font-size: 3.0rem;
        padding-right: 10px;
        display: flex;
        align-items: center; }
        #SUPPORTS .box section h3 span {
          transform: scale(0.5, 4); }
      #SUPPORTS .box section p {
        text-align: left;
        font-size: 1.4rem; }

#PRICE {
  margin-top: 150px; }
  #PRICE h3 {
    color: #D3C485;
    background: #152944;
    padding: 10px;
    font-size: 2.0rem; }
    #PRICE h3 span {
      color: #fff;
      font-weight: normal;
      font-size: 1.8rem; }
      #PRICE h3 span span {
        font-size: 1.4rem; }
    #PRICE h3 strong {
      background: #DB0048;
      padding: 0px 5px 2px; }
  #PRICE ul.nyuukai {
    margin: 15px 30px 0;
    border: 1px solid #D3C485;
    color: #D3C485;
    font-size: 1.4rem;
    text-align: left;
    list-style: none;
    padding: 10px 10px 5px; }
    #PRICE ul.nyuukai li {
      line-height: 150%;
      text-indent: -1em;
      margin-left: 0em;
      padding-bottom: 5px;
      padding-left: 1em; }
  #PRICE .opne_btn {
    text-align: center;
    padding-bottom: 40px;
    line-height: 150%; }
    #PRICE .opne_btn a {
      display: inline-block;
      background-color: rgba(37, 174, 186, 0.5);
      border: 2px solid #25aeba;
      border-radius: 500px;
      padding: 10px 20px;
      text-decoration: none; }
  #PRICE .all {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 40px; }
    #PRICE .all dt {
      background: #967800;
      font-size: 2.0rem;
      padding: 10px; }
    #PRICE .all dd {
      color: #D3C485;
      font-size: 2.3rem;
      font-weight: bold;
      padding: 10px; }
  #PRICE .small {
    font-size: 1.3rem;
    padding-bottom: 0; }
  #PRICE section {
    background: #09121F;
    max-width: 900px;
    margin: 0 auto 30px; }
    #PRICE section .box {
      padding: 20px 30px; }
    #PRICE section ul {
      text-align: left; }
      #PRICE section ul li {
        margin-left: 2em; }
    #PRICE section .txt2 {
      padding-top: 15px; }
      #PRICE section .txt2 li {
        margin-left: 0em; }
    #PRICE section table th, #PRICE section table td {
      border: 2px solid #09121F;
      padding: 5px 5px 5px; }
    #PRICE section table th {
      background: #967800;
      padding-bottom: 5px; }
    #PRICE section table td {
      color: #D3C485;
      border-bottom: 2px solid #152944; }
    #PRICE section .txt {
      flex-basis: 40%; }
    #PRICE section .pr {
      flex-basis: 60%; }
      #PRICE section .pr table {
        width: 100%; }
    #PRICE section p {
      text-align: left;
      padding-left: 0.5em; }
    #PRICE section h4 {
      text-align: left;
      border-left: 10px solid #967800;
      margin: 20px 0 10px;
      padding-left: 10px; }
      #PRICE section h4 span {
        color: #D3C485;
        font-weight: normal; }

#GALLERY {
  margin-top: 150px; }
  #GALLERY div {
    padding-top: 3%;
    display: flex; }
    #GALLERY div ul {
      list-style: none;
      flex-basis: 34%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start; }
      #GALLERY div ul li {
        font-size: 0;
        line-height: 100%;
        object-fit: cover;
        background: #ddd no-repeat center center;
        background-size: cover; }
        #GALLERY div ul li span {
          display: block;
          width: 100%; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) {
        flex-basis: 100%;
        background-image: url("../img/gallery1.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(1) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) {
        flex-basis: 43%;
        background-image: url("../img/pipic.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(2) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(1) li:nth-of-type(3) {
        flex-basis: 43%;
        background-image: url("../img/starr.jpg"); }
        #GALLERY div ul:nth-of-type(1) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) {
        flex-basis: 60%;
        background-image: url("../img/gallery3.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(1) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) {
        flex-basis: 40%;
        background-image: url("../img/gallery4.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(2) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) {
        flex-basis: 40%;
        background-image: url("../img/baby.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) {
        flex-basis: 60%;
        background-image: url("../img/boy.jpg"); }
        #GALLERY div ul:nth-of-type(2) li:nth-of-type(4) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) {
        flex-basis: 40%;
        background-image: url("../img/rady.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(1) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) {
        flex-basis: 60%;
        background-image: url("../img/gallery2.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(2) span {
          height: 25vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) {
        flex-basis: 60%;
        background-image: url("../img/star.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(3) span {
          height: 12.5vw; }
      #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) {
        flex-basis: 40%;
        background-image: url("../img/gallery5.jpg"); }
        #GALLERY div ul:nth-of-type(3) li:nth-of-type(4) span {
          height: 12.5vw; }

#ACCESS {
  margin-top: 150px; }
  #ACCESS iframe {
    padding: 0 0 2%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 400px; }

#CONTACT {
  margin-top: 150px;
  padding: 0 20px; }
  #CONTACT img.qr {
    max-width: 150px;
    padding-bottom: 10px; }
  #CONTACT img.btn {
    max-width: 232px; }
  #CONTACT p strong {
    color: #D3C485;
    font-size: 2.5rem; }
  #CONTACT a {
    color: #D3C485; }
  #CONTACT h3 {
    background: rgba(183, 151, 84, 0.2);
    border: #D3C485 solid 1px;
    color: #D3C485;
    max-width: 15em;
    margin: 0 auto 10px; }
    #CONTACT h3:nth-of-type(2) {
      margin-top: 10px; }

.comment {
  margin: 10px 0;
  padding: 10px;
  background: #161616;
  text-align: center; }
  .comment p {
    font-size: 13px; }
  .comment h3 {
    text-align: center; }
  .comment strong {
    color: #D3C485;
    font-weight: normal; }

#MONITOR {
  padding: 80px 10px;
  background: url("../img/monitor_bg.png") no-repeat;
  background-size: cover; }
  #MONITOR h3 {
    color: #d3c485;
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: normal;
    padding-bottom: 10px; }
  #MONITOR section.mr {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto 20px;
    text-align: left;
    background: rgba(63, 63, 63, 0.8);
    justify-content: space-between;
    align-items: flex-start; }
    #MONITOR section.mr img {
      max-width: 440px;
      width: 44%;
      height: auto; }
    #MONITOR section.mr div {
      width: 54%;
      padding-left: 1%;
      max-width: 520px; }
      #MONITOR section.mr div table {
        margin-bottom: 10px; }
        #MONITOR section.mr div table th {
          font-weight: normal; }
        #MONITOR section.mr div table td {
          color: #d3c485;
          padding-left: 10px; }
      #MONITOR section.mr div .txt {
        background: #131313;
        padding: 10px; }
        #MONITOR section.mr div .txt li {
          margin-left: 1.5em; }
  #MONITOR .hoka {
    color: #d3c485;
    font-size: 1.8rem;
    text-shadow: 0px 0px 11px black; }
    #MONITOR .hoka strong {
      font-size: 2.3rem;
      font-weight: normal; }
    #MONITOR .hoka ul {
      max-width: 400px;
      text-align: left;
      margin: 0 auto;
      background: #09121f;
      padding: 10px;
      margin-bottom: 10px;
      border: #d3c485 solid 1px; }
      #MONITOR .hoka ul li {
        margin-left: 2em;
        width: 14em;
        margin: 0 auto; }
    #MONITOR .hoka a {
      text-shadow: none;
      display: block;
      margin: 0 auto;
      max-width: 675px;
      padding: 10px;
      background: linear-gradient(312deg, #24a6b5 17%, #295982 98%);
      border-radius: 200px;
      text-decoration: none;
      line-height: 180%; }
      #MONITOR .hoka a strong {
        font-size: 3.0rem;
        letter-spacing: 2px; }
        #MONITOR .hoka a strong span {
          font-size: 2.4rem; }

#HIKAKU {
  padding: 0 15px; }
  #HIKAKU h2 {
    display: flex;
    align-items: center;
    width: 15em;
    margin: 50px auto;
    font-size: 3.0rem;
    font-weight: normal; }
    #HIKAKU h2:before, #HIKAKU h2:after {
      content: "";
      flex-grow: 1;
      height: 1px;
      /* 線の太さ */
      background: #fff;
      /* 線の色 */
      margin: 0 1em;
      /* 文字と線の余白 */ }
  #HIKAKU div {
    max-width: 600px;
    margin: 0 auto; }
    #HIKAKU div table {
      width: 100%;
      margin: 30px 0 10px; }
      #HIKAKU div table th, #HIKAKU div table td {
        border: #967800 solid 1px;
        padding: 5px;
        text-align: center;
        vertical-align: middle; }
      #HIKAKU div table th {
        background: #967800;
        border-bottom: #000 solid 1px;
        font-weight: normal; }
      #HIKAKU div table tr.top th {
        background: none;
        border: none;
        border-bottom: #967800 solid 1px;
        line-height: 120%;
        font-size: 1.8rem; }
        #HIKAKU div table tr.top th span {
          font-size: 80%; }
        #HIKAKU div table tr.top th:nth-of-type(1), #HIKAKU div table tr.top th:nth-of-type(3) {
          color: #d3c485; }
      #HIKAKU div table tr td:nth-of-type(1) {
        border-right: none; }
      #HIKAKU div table tr td:nth-of-type(2) {
        border-left: none;
        color: #d3c485;
        font-size: 1.8rem; }
      #HIKAKU div table.option th, #HIKAKU div table.option td {
        border: #04a6ac solid 1px; }
      #HIKAKU div table.option th {
        background: #04a6ac;
        border-bottom: #000 solid 1px; }
      #HIKAKU div table.option tr.top th {
        border-bottom: #04a6ac solid 1px; }
        #HIKAKU div table.option tr.top th:nth-of-type(1) {
          color: #04a6ac; }
      #HIKAKU div table.after th, #HIKAKU div table.after td {
        border: #818181 solid 1px; }
      #HIKAKU div table.after th {
        background: #818181;
        border-bottom: #000 solid 1px; }
      #HIKAKU div table.after tr.top th {
        border-bottom: #818181 solid 1px; }
        #HIKAKU div table.after tr.top th:nth-of-type(1) {
          color: #818181; }
    #HIKAKU div .txt2 a {
      background: #876d2c;
      padding: 0px 5px 5px 5px; }

#new_SUPPORT {
  padding: 20px; }
  #new_SUPPORT h2 {
    text-align: center;
    color: #D3C485;
    font-size: 2.8rem;
    padding-bottom: 10px;
    letter-spacing: 1px; }
  #new_SUPPORT section {
    border: 2px solid #D3C485;
    padding: 20px 20px 0;
    max-width: 860px;
    margin: 0 auto 30px; }
    #new_SUPPORT section p strong {
      color: #D3C485;
      font-weight: normal;
      font-size: 120%; }
    #new_SUPPORT section h3 {
      background: #D3C485;
      border-radius: 10px 10px 0px 0px;
      padding: 5px 10px;
      color: #000;
      font-size: 2.0rem;
      margin: 10px 0; }
    #new_SUPPORT section dl {
      overflow: hidden;
      margin-bottom: 20px; }
      #new_SUPPORT section dl dt {
        width: 4em;
        float: left;
        background: #967800;
        text-align: center;
        letter-spacing: 2px; }
      #new_SUPPORT section dl dd {
        padding-left: 5em;
        margin-bottom: 10px;
        color: #D3C485; }

footer {
  margin-top: 150px;
  text-align: center;
  background: #09121F;
  padding: 3% 20px; }
  footer .logo img {
    max-width: 100px; }
  footer h2 {
    font-weight: normal; }
    footer h2 strong {
      color: #967800; }
