// Scss Document
.pc{
	display: none!important;
}
.sp{
	display: block!important;
}
$yellow:#967800;
$ytxt:#D3C485;
html { font-size: 58%; }
@keyframes shiny {
    0% { left: -20%; }
    10% { left: 120%; }
    100% { left: 120%; }
}

.txt2{
	display: block;
	list-style: none;
}

header{
	height: auto;
	background: none;
	padding: 12% 0 0;
	.title{
		background: rgba(0,0,0,1);
		padding: 20px 10px 10px 10px;
		p{
			font-size: 6vw;
			padding: 5px 0 10px;
		}
		
		p.t2{
			font-size: 5vw;
		}
		h1{
			font-size: 4.5vw;
		}
		ul{
			display:block;
			margin:0 10px;
			li{
				margin-bottom: 10px;
				font-size: 4vw;
				div{
					padding: 5px 0;
					br{
						display: none;
					}
					img{
						height: 30px;
					}
				}
			}
		}
	}
	.logo{
		img{
			max-width: none;
			width: 10%;
		}
	}
	.btn{
		line-height: 150%;
		max-width: none;
		margin: 10px;
		font-size: 3vw;
		strong{
			font-size: 4vw;
		}
		span.tebura{
			strong{
				font-size: 4vw;
			}
		}
	}
	.bg{
		padding-top: 2vh;
		padding-bottom: 30vh;
		background: url("../img/top.jpg") no-repeat;
		background-size: cover;
		background-position: center 54%;
	}
}
.box0{
	text-align: center;
	h2{
		font-size: 3.0rem;
		strong{
			font-size: 15px;
		}
	}
}
.OPEN{
	margin :30px 10px 10px 10px;
	padding: 10px;
	background: #0E2748;
	
	h2{
		font-size: 4.8vw;
	}
	table{
		width: 100%;
		margin: 0 auto 20px;
		font-size: 2.0rem;
		th,td{
			border: 2px solid #0E2748;
			padding: 5px 5px 5px;
		}
		th{
			background:$yellow;
			padding-bottom:5px;

		}
		td{
			color: $ytxt;
			border-bottom: 2px solid #244B7F;
			
		}
	}
	ul{
		text-align: left;
		
	}
	.txt1{
		display: block;
		margin: 0 auto 20px;
		li{
			margin-left: 2em;
			color: $ytxt;
		}
	}
}
#CONCEPT{
	padding-top: 34%;
	p{
		line-height: 150%;
		padding-left: 10px;
		padding-right: 10px;
		font-size:3.6vw;
	}
}
#TRAINER{
	margin-top: 15%;
	margin-right: 0%;
	section{
		padding: 5em 20px 30px;
		h2{
			font-size: 4.0rem;
		}
		.box{
			display: block;
			.img{
				max-width: 100%;
				img{
					height: 260px;
					object-fit: cover;
					object-position:0% 20%;
				}
			}
			.txt{
				padding-top: 20px;
				padding-left: 0%;
				text-align: center;
			}
		}
	}
}
#ABOUT{
	margin-top: 50px;
	padding: 20px;
	section{
		padding: 0;
		display: block;
		h3{
			height: 140px;
			strong{
				font-size: 2.0rem;
				bottom: -16px;
			}
		}
		p{
			padding:20px 10px 30px;
		}
		&:nth-of-type(2){
			h3{
				background-position: 50% 60%;
			}
		}
	}
}


#SUPPORTS{
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	.box{
		display: block;
		padding-top: 30px;
		section{
			display: block;
			padding: 0 30px;
			h3{
				writing-mode:horizontal-tb;
				text-indent: -1em;
				padding-bottom: 20px;
				span{
					display: none;
					transform: none;
				}
			}
			h4{
				font-size: 2.0rem;
				text-align: left;
				padding: 10px 0;
				margin-bottom: 10px;
				border-bottom: 1px solid $yellow;
			}
			img{
				display: none;
			}
			background: rgba(9,18,31,0.80);
			
		}
		.bg{
			background: url("../img/weight.jpg") no-repeat ;
			background-size: 70%;
		 	background-position: center center;
			margin-bottom: 10%;
			&:nth-of-type(2){
				background-image: url("../img/kigu.jpg");
			}
			&:nth-of-type(3){
				background-image: url("../img/sasasa.jpg");
			}
			&:nth-of-type(4){
				background-image: url("../img/SPfour.jpg");
				section{
					background: rgba(9,18,31,0.3);
				}
			}
			&:nth-of-type(5){
				background-image: url("../img/book.jpg");
			}
		}
	}
}

#PRICE{
	margin-top: 50px;
	padding:0 20px;
	h3{
		font-size: 4.4vw;
		
		span.small{
			font-size: 4.0vw
			
		}
		strong{
			font-size: 3.5vw;
			line-height: 150%;
		}
	}
	ul.nyuukai{
		margin: 15px 15px 0;
	}
	section{
		.box{
			display: block;
			text-align: center;
			padding: 10px;
		}
		table{
			width: 100%;
			margin-top:0px;
			th,td{
				padding: 3px;
			}
		}
		ul{
			display:inline-block;
			padding-bottom: 10px;
		}
		.txt{
			p{
				text-align: center;
			}
		}
	}
}

#GALLERY{
	margin-top: 50px;
	div{
		display: block;
		justify-content:flex-start;
		ul{
			&:nth-of-type(1){
				li:nth-of-type(1){
					flex-basis: 70%;
					span{
						height: 60vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 30%;
					span{
						height: 40vw;
					}
				}
			}
			&:nth-of-type(2){
				li:nth-of-type(1){
					flex-basis: 60%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 40%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 40%;
					span{
						height: 40vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 60%;
					span{
						height: 60vw;
					}
				}
			}
			&:nth-of-type(3){
				li:nth-of-type(1){
					background-image:url("../img/gallery2.jpg");
					flex-basis: 60%;
					span{
						height: 60vw;
					}
				}
				li:nth-of-type(2){
					background-image:url("../img/rady.jpg");
					flex-basis: 40%;
					span{
						height: 40vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 60%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 40%;
					span{
						height: 30vw;
					}
				}
			}
		}
	}
}
#ACCESS{
	margin-top: 50px;
}
#CONTACT{
	margin-top: 50px;
}
#MONITOR{
	padding: 50px 10px 40px;
	background: url("../img/monitor_bg_sp.png") no-repeat #280E06;
	background-size: 100% auto;
	background-position: top center;
	h3{
		font-size: 3.6vw;
		margin: 15px auto 0;
		.toggle_btn {
			right: 10px;
		}
	}
		
	table{
		margin: 0 auto;
	}
	div.mr{
		display: block;
		img{
			max-width: 400px;
			margin: 0 auto;
			display: block;
			width: 100%;
			padding-bottom: 10px;
		}
		div.detail{
			width: 100%;
			padding-left: 0%;
			max-width: none;
		}
	}
	.hoka{
		font-size: 1.6rem;
		strong{
			font-size: 1.8rem;
		}
		a{
		font-size: 4vw;
			strong{
				font-size: 5vw;
				letter-spacing: 1px;
				span{
					font-size: 4vw;
				}
			}
		}
	}
}
#HIKAKU{
	padding-bottom: 40px;
	h2{
		width: 15em;
		font-size: 5vw;
	}	
	div{
		table{
			margin:30px 0 10px;
			th,td{
				padding: 5px;
				font-size: 1.3rem;
				line-height: 150%;
			}
			th{
			}
			tr.top th{
				line-height: 120%;
				font-size: 1.5rem;
				span{
					font-size: 80%;
				}
			}
			tr td:nth-of-type(2){
				font-size: 1.5rem;
			}
			&.option{
				th,td{
					border: #04a6ac solid 1px;
				}
				th{
					background: #04a6ac;
					border-bottom: #000 solid 1px;
				}
				tr.top th{
					border-bottom: #04a6ac solid 1px;
					&:nth-of-type(1){
						color: #04a6ac;
					}
				}
			}
			&.after{
				th,td{
					border: #818181 solid 1px;
				}
				th{
					background: #818181;
					border-bottom: #000 solid 1px;
				}
				tr.top th{
					border-bottom: #818181 solid 1px;
					&:nth-of-type(1){
						color: #818181;
					}
				}
				
			}
		}
		.txt2{
			font-size: 1.3rem;
		}
	}
}
#new_SUPPORT{
	section{
		dl{
			dt:nth-last-of-type(1){
				float: none;
				margin-bottom: 5px;
				width: 100%;
			}
			dd:nth-last-of-type(1){
				padding-left: 0em;
			}
		}
	}
}
footer{
	margin-top: 50px;
	font-size: 1.3rem;
}