// Scss Document
.pc{
	display: none!important;
}
.sp{
	display: block!important;
}
$yellow:#967800;
$ytxt:#D3C485;
html { font-size: 50%; }
nav{
	ul{
		display: none;
	}
}
header{
	padding-top: 0;
	height: auto;
	background: none;
	.title{
		background: rgba(0,0,0,1);
		h1{
			line-height: 170%;
			font-size: 3vw;
			padding-bottom: 10px;
			strong{
				color: $ytxt;
				font-size: 2.0rem;
			}
			span{
				font-size: 6vw;
			}
		}
		p{
			padding-bottom: 0;
		}
	}
	.logo{
		img{
			max-width: none;
			width: 15%;
		}
	}
	.btn{
		line-height: 150%;
		max-width: none;
		margin: 20px 8%;
		font-size: 3vw;
		strong{
			font-size: 3.5vw;
		}
	}
	.bg{
		padding-top: 2vh;
		padding-bottom: 34vh;
		background: url("../img/top.jpg") no-repeat;
		background-size: cover;
		background-position: center 54%;
	}
}
.box0{
	text-align: center;
	h2{
		font-size: 3.0rem;
		strong{
			font-size: 15px;
		}
	}
}
.OPEN{
	margin :60px 10px 10px 10px;
	padding: 10px;
	background: #0E2748;
	table{
		width: 100%;
		margin: 0 auto 20px;
		font-size: 2.0rem;
		th,td{
			border: 2px solid #0E2748;
			padding: 5px 5px 5px;
		}
		th{
			background:$yellow;
			padding-bottom:5px;

		}
		td{
			color: $ytxt;
			border-bottom: 2px solid #244B7F;
			
		}
	}
	ul{
		text-align: left;
		
	}
	.txt1{
		display: block;
		margin: 0 auto 20px;
		li{
			margin-left: 2em;
			color: $ytxt;
		}
	}
	.txt2{
		display: block;
		list-style: none;
	}
}
#CONCEPT{
	padding-top: 34%;
}
#TRAINER{
	margin-top: 15%;
	margin-right: 0%;
	section{
		padding: 5em 20px 30px;
		h2{
			font-size: 4.0rem;
		}
		.box{
			display: block;
			.img{
				max-width: 100%;
				img{
					height: 260px;
					object-fit: cover;
					object-position:0% 20%;
				}
			}
			.txt{
				padding-top: 20px;
				padding-left: 0%;
			}
		}
	}
}
#ABOUT{
	margin-top: 50px;
	padding: 20px;
	section{
		padding: 0;
		display: block;
		h3{
			height: 140px;
			strong{
				font-size: 2.0rem;
				bottom: -16px;
			}
		}
		p{
			padding:20px 10px 30px;
		}
		&:nth-of-type(2){
			h3{
				background-position: 50% 60%;
			}
		}
	}
}


#SUPPORTS{
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	.box{
		display: block;
		padding-top: 30px;
		section{
			display: block;
			padding: 0 30px;
			h3{
				writing-mode:horizontal-tb;
				text-indent: -1em;
				padding-bottom: 20px;
				span{
					display: none;
					transform: none;
				}
			}
			h4{
				font-size: 2.0rem;
				text-align: left;
				padding: 10px 0;
				margin-bottom: 10px;
				border-bottom: 1px solid $yellow;
			}
			img{
				display: none;
			}
			background: rgba(9,18,31,0.80);
			
		}
		.bg{
			background: url("../img/weight.jpg") no-repeat ;
			background-size: 70%;
		 	background-position: center center;
			margin-bottom: 10%;
			&:nth-of-type(2){
				background-image: url("../img/kigu.jpg");
			}
			&:nth-of-type(3){
				background-image: url("../img/sasasa.jpg");
			}
			&:nth-of-type(4){
				background-image: url("../img/SPfour.jpg");
				section{
					background: rgba(9,18,31,0.3);
				}
			}
			&:nth-of-type(5){
				background-image: url("../img/book.jpg");
			}
		}
	}
}

#PRICE{
	margin-top: 50px;
	padding:0 20px;
	section{
		
		.box{
			display: block;
			text-align: center;
			padding: 10px;
		}
		table{
			width: 100%;
			margin-top:0px;
			th,td{
				padding: 3px;
			}
		}
		ul{
			display:inline-block;
		}
		.txt{
			p{
				text-align: center;
			}
		}
	}
}

#GALLERY{
	margin-top: 50px;
	div{
		display: block;
		justify-content:flex-start;
		ul{
			&:nth-of-type(1){
				li:nth-of-type(1){
					flex-basis: 70%;
					span{
						height: 60vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 30%;
					span{
						height: 40vw;
					}
				}
			}
			&:nth-of-type(2){
				li:nth-of-type(1){
					flex-basis: 60%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 40%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 40%;
					span{
						height: 40vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 60%;
					span{
						height: 60vw;
					}
				}
			}
			&:nth-of-type(3){
				li:nth-of-type(1){
					background-image:url("../img/gallery2.jpg");
					flex-basis: 60%;
					span{
						height: 60vw;
					}
				}
				li:nth-of-type(2){
					background-image:url("../img/rady.jpg");
					flex-basis: 40%;
					span{
						height: 40vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 60%;
					span{
						height: 30vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 40%;
					span{
						height: 30vw;
					}
				}
			}
		}
	}
}
#ACCESS{
	margin-top: 50px;
}
#CONTACT{
	margin-top: 50px;
}
footer{
	margin-top: 50px;
	font-size: 1.3rem;
}