// Scss Document
.sp{
	display: none!important;
}
.pc{
	display: inline-block!important;
}
$yellow:#967800;
$ytxt:#D3C485;
html { font-size: 62.5%; }
body{
	font-family: 'Noto Serif JP', serif;
	background: #fff;
	font-size: 1.5rem;
	line-height: 180%;
	color: #fff;
	background: #000;
}
img{
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}
a{
	color: #fff;
	transition: all 0.3s ease 0s;
	&:hover{
		opacity: 0.5;
	}
}
strong{
	font-weight: 700;
}
.ytxt{
	color: $ytxt;
}
.txtC{
	text-align: center;
}
p{
	padding-bottom: 15px;
}
.box{
	display: flex;
	flex-wrap: wrap;
}
sup {
	vertical-align: super;
	font-size:80%;
}

.txt2{
	display: inline-block;
	list-style: none;
	text-indent: -1em;
	padding-left: 1em;
	line-height: 150%;
}
.l_none{
	list-style: none;
	text-indent: -1em;
	padding-left: 1em;
	margin-left: 0.5em!important;
}
nav{
	z-index: 99;
	position: fixed;
	top:0;
	width: 100%;
	background: #000;
	.btn-trigger{
		display: none;
	}
	ul{
		font-size: 1vw;
		display: flex;
		justify-content: flex-end;
		li{
			padding: 0 10px;
			text-align: center;
			a{
				display: block;
				padding:20px 0px;
				text-decoration: none;
			}
			&:last-of-type{
				margin-left: 10px;
				padding: 0;
				a{
					padding:20px 20px;
					background: linear-gradient(312deg, rgba(36,166,181,1) 17%, rgba(41,89,130,1) 98%);
				}
			}
		}
	}
	.contact_btn{
		display: none;
	}
	@media screen and (max-width:1143px) {
		display: flex;
		justify-content: space-between;
		.contact_btn{
			padding: 3px 0;
			font-size: 1.9rem;
			text-decoration: none;
			text-align: center;
			width: 70%;
			margin-left: 10px;
			align-self:center;
			display: block;
			z-index: 999;
			background: linear-gradient(312deg, rgba(36,166,181,1) 17%, rgba(41,89,130,1) 98%);
			&:hover{
				opacity: 1.0;
			}
		}
		.btn-trigger {
			margin: 10px;
			display: block;
			z-index: 99;
			margin: 10px;
			border-radius: 10px;
			position: relative;
			width: 40px;
			height: 30px;
			cursor: pointer;
			& span {
				position: absolute;
				left: 0px;
				width: 100%;
				height: 4px;
				background-color: #fff;
				border-radius: 4px;
			}
			&, & span {
				display: inline-block;
				transition: all .5s;
				box-sizing: border-box;
			}
			& span:nth-of-type(1) {
				top: 0px;
			}
			& span:nth-of-type(2) {
				top: 13px;
			}
			& span:nth-of-type(3) {
				bottom: 0px;
			}
			&.open span:nth-of-type(1) {
			  -webkit-transform: translateY(22px) rotate(-45deg);
			  transform: translateY(16px) rotate(-45deg);
			}
			&.open span:nth-of-type(2) {
			  opacity: 0;
			}
			&.open span:nth-of-type(3) {
			  -webkit-transform: translateY(-13px) rotate(45deg);
			  transform: translateY(-10px) rotate(45deg);
			}
		}
		ul{
			&.open{
				display: block;
			}
			display: none;
			position: fixed;
			width: 100%;
			background: rgba(0,0,0,0.91);
			padding-top: 50px;
			padding-bottom: 15px;
			font-size: 1.6rem;
			li{
				padding: 5px;
				a{
					display: inline-block;
					padding:8px;
				}
				&:last-of-type{
					display: none;
				}
			}
		}
	}
}
header{
	text-align: center;
	letter-spacing: 2px;
	background: url("../img/top01.png") no-repeat;
	background-size: cover;
	background-position: center;
	.title{
		padding: 30vh 0 30vh;
		h1{
			font-weight: normal;
			letter-spacing: 4px;
			font-size: 2.0rem;
			padding-bottom: 20px;
			line-height: 150%;
			text-shadow: 0px 0px 14px rgba(33, 12, 12, 1),0px 0px 6px rgba(33, 12, 12, 1),0px 0px 6px rgba(33, 12, 12, 1),0px 0px 6px rgba(33, 12, 12, 1);
			strong{
				display: block;
				font-weight: normal;
				font-size: 4.5rem;
				line-height: 150%;
				letter-spacing: 10px;
				padding-top: 20px;
			}
		}
	}
	p{
		background: #CD0044;
		display: inline-block;
		padding: 5px 20px;
		line-height: 100%;
		font-size: 2.0rem;
		line-height: 150%;
		strong{
			background:linear-gradient(transparent 70%, #86002C 0%);
			padding: 0 10px;
		}
	}
    a.typ2{
        padding: 5px 20px;
        font-size: 2.0rem;
		line-height: 120%;
        text-decoration: none;
        margin-top: 20px;
        max-width: 550px;
        width: 80%;
        display: inline-block;
        background: linear-gradient(312deg, #24a6b5 17%, #295982 98%);
        span{
            font-weight: bold;

        }
    }
	.logo{
		text-align: center;
		img{
			max-width: 100px;
		}
	}
}
.top_txt{
	.trial{
		border-radius:10px 10px 5px 5px ;
		background: #242424;
		display: inline-block;
		text-align: center;
		max-width: 800px;
		width: 80%;
		margin: 50px 10px 10px;
		text-decoration: none;
		letter-spacing: 3px;
		span{
			display: block;
		}
		.trial_1{
			padding: 10px;
			font-size: 2.5rem;
			border-radius:5px 5px 0px 0px ;
			background: linear-gradient(90deg, rgba(139,107,30,1) 0%, rgba(170,155,43,1) 100%);
		}
		.trial_2{
			color: $ytxt;
			font-weight: bold;
			font-size: 3.0rem;
			padding: 20px 0;
		}
		.trial_3{
			color: $ytxt;
			border: $ytxt solid 1px;
			display: inline-block;
			padding: 2px 20px;
			font-size: 1.8rem;
			strong{
				background:linear-gradient(transparent 70%, #424242 0%);
				padding: 0 10px;
			}
		}
		.trial_4{
			text-decoration: underline;
			padding:10px 0 15px;
		}
	}
	.top_point{
		p.t2{
			padding:20px 0;
			line-height: 150%;
			font-size: 2.5rem;
			letter-spacing: 4px;
			strong{
				color: $ytxt;
				font-weight: normal;
			}
		}
		ul{
			list-style: none;
			max-width: 820px;
			margin: 0 auto;
			display: flex;
			justify-content:space-between;
			li{
				letter-spacing: 2px;
				flex-basis: 31%;
				background: rgba(150,120,0,0.82);
				padding: 4px;
				font-size: 1.7rem;
				display: flex;
				div{
					padding: 5px 0 8px;
					flex-basis: 100%;
					border: 1px solid #fff;
					display: flex;
					flex-wrap: wrap;
					justify-content:center;
					.txt{
						flex-basis: 100%;
						display: block;
						order: 1;
					}
					img{
                        padding: 5px 0 2px;
						width: auto;
						height: 45px;
						order: 2;
					}
				}
				.t1{
					font-size: 90%;
				}
				.t2{
					letter-spacing: 1px;
				}
			}
		}
	}
}

.box0{
	text-align: center;
	h2{
		line-height: 150%;
		font-weight: normal;
		color: $ytxt;
		letter-spacing: 2px;
		font-size: 4.0rem;
		margin-bottom: 40px;
		strong{
			display: block;
			font-weight: normal;
			font-size: 1.5rem;
			color: #fff;
			line-height: 100%;
		}
	}
	
}
.top_img1{
	margin-top: 60px;
	background: url("../img/top02.png") no-repeat;
	background-size: cover;
	background-position: center;
	height: 50vh;
	&.top_img2{
		background-image: url("../img/top.jpg")
	}
}
.OPEN{
	h2{
		font-size: 2.5rem;
		border-bottom: 1px solid $yellow;
		margin-bottom:30px;
		padding-bottom: 10px;
		line-height: 130%;
		strong{
			display: inline-block;
			background: $ytxt;
			color: #000;
			padding: 5px;
			&.typ2{
				background: #929292;
			}
		}
		img{
			width: 40px;
			padding-right: 15px;
		}
	}
	.flex{
		display: flex;
		padding: 0 20px;
		.img{
			flex-basis: 49%;
		}
		.trial_in{
			flex-basis: 51%;
			padding: 20px;
		}
	}
	.syokai{
		border: 4px double $yellow;
		padding: 20px 20px 0;
		margin-bottom: 30px;
		background: #071526;
		.img{
			img{
				width: 75%;
				padding:0 7% 0 10%;
			}
		}
	}
	.cmp_detel{
		border: 4px double $yellow;
		padding: 20px;
		background: #0E2748;
		.price_txt{
			border: 2px solid $ytxt;
			background: #020F20;
			margin-bottom: 20px;
			padding: 10px;
			letter-spacing: 3px;
			font-size: 1.7rem;
			strong{
				color: $ytxt;
				font-size: 150%;
			}
		}
	}
	max-width: 850px;
	margin : 60px auto 30px;
	ul{
		text-align: left;
		
	}
	.txt1{
		li{
			margin-left: 2em;
			color: $ytxt;
		}
	}
}
#CONCEPT{
	margin: 60px auto;
	letter-spacing: 2px;
	line-height: 150%;
	background: url("../img/consepts.jpg") no-repeat top center;
	background-size: 80% auto;
	max-width: 800px;
	padding-top: 280px;
	p{
		strong{
			color: $ytxt;
			font-size: 120%;
		}
	}
	.line{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		span{
			color: $yellow;
		}
		&:before,
		&:after {
		content: "";
		flex-grow: 1;
		height: 1px;
		background: #fff;
		margin:0 1em;
		}
	}
}
#TRAINER{
	margin-top: 150px;
	text-align: left;
	margin-right: 10%;
	background: #050E1A;
	section{
		position: relative;
		padding: 5em 20px 30px;
		@media screen and (min-width: 1000px) {
			padding-left: 15%
		}
		h2{
			position: absolute;
			top:-37px;
			font-size: 5.0rem;
			color: #757575;
		}
		h3{
			font-weight: normal;
			font-size: 2.8rem;
			padding-bottom: 10px;
			strong{
				font-weight: normal;
				font-size: 1.6rem;
				color: $ytxt;
			}
		}
		.from{
			padding-bottom: 20px;
		}
		.box{
			.img{
				flex-basis: 40%;
				max-width: 400px;
			}
			.txt{
				flex-basis: 57%;
				padding-left: 3%;
				p{
					line-height: 200%;
				}
			}
		}
		.blog{
			background: rgba(46,75,87,0.50);
			padding: 10px;
			line-height: 150%!important;
			text-align: center;
		}
	}
}
#ABOUT{
	margin-top: 150px;
	letter-spacing: 2px;
	section{
		padding-top: 40px;
		text-align: left;
		display: flex;
		h3{
			flex-basis: 50%;
			background: url("../img/gallery3.jpg") no-repeat center center;
			background-size: cover;
			border-bottom: 30px solid #142031;
			position: relative;
			text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
			strong{
				font-size: 2.8rem;
				position: absolute;
				bottom:-25px;
				display: block;
				padding: 0 20px;
				color: $ytxt;
				span{
					color: #fff;
					font-size: 1.5rem;
					font-weight: normal;
				}
			}
		}
		p{
			flex-basis: 46%;
			padding:30px 2% 40px;
			font-size: 1.4rem;
		}
		&:nth-of-type(1),
		&:nth-of-type(3){
			h3{
				@media screen and (min-width: 1390px) {
					strong{
						padding-left:20%;
					}
				}
			}
		}
		&:nth-of-type(2){
			h3{
				order: 2;
				background-image: url("../img/top.jpg") ;
			}
			p{
				order: 1;
				@media screen and (min-width: 1450px) {
					flex-basis: 48%-13%;
					padding-left:13%;
				}
			}
		}
		&:nth-of-type(3){
			h3{
				background-image: url("../img/gallery1.jpg") ;
			}
		}
	}
}

#SUPPORTS{
	margin-top: 150px;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #09121F;
	.box{
		padding-top: 60px;
		max-width: 1100px;
		margin: 0 auto;
		justify-content: center;
		.bg{
			flex-basis: 31%;
			padding:0 1%;
		}
		section{
			display: flex;
			padding:0 2% 5%;
			img{
				object-fit: cover;
				height: 200px;
			}
			h3{
				writing-mode:vertical-rl;
				text-align: left;
				font-size: 3.0rem;
				padding-right: 10px;
				display: flex;
				align-items: center;
				span{
					transform: scale(0.5, 4);
				}
			}
			p{
				text-align: left;
				font-size: 1.4rem;
			}
		}
	}
}

#PRICE{
	margin-top: 150px;
    padding-bottom: 50px;
	h3{
		color: $ytxt;
		background: #152944;
		padding: 10px;
		font-size: 2.0rem;
		span{
			color: #fff;
			font-weight: normal;
			font-size: 1.8rem;
			span{font-size: 1.4rem;}
		}
		strong{
			background: #CD0044;
			display: inline-block;
			margin-top: 5px;
			padding: 2px 20px 5px;
			line-height: 100%;
			font-size: 1.8rem;
			line-height: 150%;
			font-weight: normal;
			strong{
				background:linear-gradient(transparent 70%, #86002C 0%);
				padding: 0 10px;
			}
		}
	}
	ul.nyuukai{
		margin: 15px 30px 0;
		border: 1px solid $ytxt;
		color: $ytxt;
		font-size: 1.4rem;
		text-align: left;
		list-style: none;
		padding: 10px 10px 5px;
		li{
			line-height: 150%;
			text-indent: -1em;
		   margin-left: 0em;
			padding-bottom: 5px;
			padding-left: 1em;
		}
	}
	.opne_btn{
		text-align: center;
		padding-bottom: 40px;
		line-height: 150%;
		 a{
			display: inline-block;
			background-color: rgba(37,174,186,0.50);
			border: 2px solid #25aeba;
			 border-radius: 500px;
			 padding: 10px 20px;
			 text-decoration: none;
		}
	}
	.all{
		margin: 0 auto;
		max-width: 500px;
		padding-bottom: 40px;
		dt{
			background:$yellow;
			font-size: 2.0rem;
			padding: 10px;
		}
		dd{
			color: $ytxt;
			font-size: 2.3rem;
			font-weight: bold;
			padding: 10px;
		}
	}
	.small{
		font-size: 1.3rem;
		padding-bottom: 0;
	}
	section{
		background: #09121F;
		max-width: 900px;
		margin: 0 auto 60px;
		.box{
			padding: 20px 30px;
		}
		ul{
			text-align: left;
			li{
				margin-left: 2em;
			}
		}
		.txt2{
			padding-top: 15px;
			li{
				margin-left: 0em;
			}
		}
		table{
			th,td{
				border: 2px solid #09121F;
				padding: 5px 5px 5px;
			}
			th{
				background:$yellow;
				padding-bottom:5px;
				
			}
			td{
				color: $ytxt;
				border-bottom: 2px solid #152944;
			}
		}
		.txt{
			flex-basis: 40%;
		}
		.pr{
			flex-basis: 60%;
			table{
				width: 100%
			}
		}
		p{
			text-align: left;
			padding-left: 0.5em;
		}
		h4{
			text-align: left;
			border-left: 10px solid $yellow;
			margin: 20px 0 10px;
			padding-left: 10px;
			span{
				color: $ytxt;
				font-weight: normal;
			}
		}
	}
}
#QA{
    background: #3E3822;
    padding: 80px 10px;
    .box_in{
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        h3{
            margin-top: 20px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            background: #110E08;
            padding: 10px;
            cursor:pointer;
            strong{
                display: flex;
            }
            strong::before{
                content:"Ｑ";
                padding-right: 5px;
                color: #AA8F23;
            }
            &::after{
                font-family: 'Material Icons';
                content: "\e5ce";
                text-align: right;
            }
            &.open::after{
                font-family: 'Material Icons';
                content: "\e5cf";
            }
        }
        div{
            display: none;
        }
        p{
            line-height: 150%;
            color: $ytxt;
            display: flex;
            &::before{
                content:"Ａ";
                color: #fff;
                padding:0 5px;
            }
        }
    }
    .qr{
        img.qr{
		max-width: 150px;
		padding-bottom: 10px;
        }
        img.btn{
            max-width: 232px;
        }
    }
}
#GALLERY{
	margin-top: 150px;
	div{
		padding-top:3%;
		display: flex;
		ul{
			list-style: none;
			flex-basis: 34%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items:flex-start;
			li{
				font-size: 0;
				line-height: 100%;
				object-fit: cover;
				background: #ddd no-repeat center center;
				background-size: cover;
				span{
					display: block;
					width: 100%;
				}
			}
			&:nth-of-type(1){
				li:nth-of-type(1){
					flex-basis: 100%;
					background-image:url("../img/gallery1.jpg");
					span{
						height: 25vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 43%;
					background-image:url("../img/pipic.jpg");
					span{
						height: 12.5vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 43%;
					background-image:url("../img/starr.jpg");
					span{
						height: 12.5vw;
					}
				}
			}
			&:nth-of-type(2){
				li:nth-of-type(1){
					flex-basis: 60%;
					background-image:url("../img/gallery3.jpg");
					span{
						height: 12.5vw;
					}
				}
				li:nth-of-type(2){
					flex-basis: 40%;
					background-image:url("../img/gallery4.jpg");
					span{
						height: 12.5vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 40%;
					background-image:url("../img/baby.jpg");
					span{
						height: 12.5vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 60%;
					background-image:url("../img/boy.jpg");
					span{
						height: 25vw;
					}
				}
			}
			&:nth-of-type(3){
				li:nth-of-type(1){
					flex-basis: 40%;
					background-image:url("../img/rady.jpg");
					span{
						height: 12.5vw;;
					}
				}
				li:nth-of-type(2){
					flex-basis: 60%;
					background-image:url("../img/gallery2.jpg");
					span{
						height: 25vw;
					}
				}
				li:nth-of-type(3){
					flex-basis: 60%;
					background-image:url("../img/star.jpg");
					span{
						height: 12.5vw;
					}
				}
				li:nth-of-type(4){
					flex-basis: 40%;
					background-image:url("../img/gallery5.jpg");
					span{
						height: 12.5vw;
					}
				}
			}
		}
	}
}
#ACCESS{
	margin-top: 150px;
	iframe{
		padding: 0 0 2%;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		height: 400px;
	}
}
#CONTACT{
	margin-top: 150px;
	padding: 0 20px;
	img.qr{
		max-width: 150px;
		padding-bottom: 10px;
	}
	img.btn{
		max-width: 232px;
	}
	p{
		strong{
			color: $ytxt;
			font-size: 2.5rem;
		}
	}
	a{
		color: $ytxt;
	}
	h3{
		background: rgba(183,151,84,0.20);
		border:$ytxt solid 1px;
		color: $ytxt;
		max-width: 15em;
		margin: 0 auto 10px;
		&:nth-of-type(2){
			margin-top: 10px;
		}
	}
}
.comment{
	p{
		font-size: 13px;
	}
	h3{
		text-align: center;
	}
	margin: 10px 0;
	padding: 10px;
	background: #161616;
	text-align: center;
	strong{
		color: $ytxt;
		font-weight: normal;
	}
}
#MONITOR{
	padding: 80px 10px;
	background: url( "../img/monitor_bg.png") no-repeat;
	background-size: cover;
	h3{
		text-align: left;
		max-width: 1020px;
		margin: 30px auto 0;
		font-size: 2.4rem;
		font-weight: normal;
		padding: 10px 10px;
		background:$ytxt;
		color: #000;
		cursor:pointer;
		position: relative;
		span.com{
			display: block;
			font-size: 1.4rem;
			color: rgba(134,0,13,1.00);
			padding-right: 30px;
			line-height: 100%;
		}
		strong{
			background: rgba(20,84,126,1.00);
			color: #fff;
			padding: 0 3px;
			font-weight: normal;
			font-size: 80%;			
		}
		&.f strong{
			background: rgba(211,43,85,1.00);
		}
		&.open .toggle_btn:before {
			content: normal;
		}
		.toggle_btn {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			background: #000;
			display: block;
			width: 24px;
			height: 24px;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			border-radius: 50%;
		}
		.toggle_btn:before, .toggle_btn:after {
			display: block;
			content: '';
			background-color: #fff;
			position: absolute;
			width: 10px;
			height: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.toggle_btn:before {
			width: 2px;
			height: 10px;
		}
	}
	
	
	div.box{
		margin: 0 auto 0;
		max-width: 1040px;
		padding: 0;
		display: none;
	}
	div.mr{
		width: calc(100% - 40px);
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
		text-align: left;
		background: rgba(63,63,63,0.80);
		justify-content:space-between;
		align-items:flex-start;
		img{
			max-width: 440px;
			width: 34%;
			height: auto;
		}
		div.detail{
			width: 64%;
			padding-left: 1%;
			max-width: 635px;
			table{
				margin-bottom: 10px;
				th{
					font-weight: normal;
				}
				td{
					color: #d3c485;
					padding-left: 10px;
				}
			}
			.txt{
				background: #131313;
				padding: 10px;
				h4{
					border-bottom:$ytxt 2px solid;
					color: $ytxt;
					padding:0 5px 2px;
					margin-bottom: 5px;
					font-weight: normal;
				}
				p.top{
					background: rgba(255,255,255,0.21);
					padding: 5px;
					margin-bottom: 10px;
				}
			}
		}
	}
	.hoka{
		padding-top: 50px;
		color: #d3c485;
		font-size: 1.8rem;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
		strong{
			font-size: 2.3rem;
			font-weight: normal;
		}
		ul{
			max-width: 400px;
			text-align: left;
			margin: 0 auto;
			background: #09121f;
			padding: 10px;
			margin-bottom: 10px;
			border: #d3c485 solid 1px;
			li{
				
				margin-left: 2em;
				width: 14em;
				margin: 0 auto;
			}
		}
		a{
			text-shadow:  none;
			display: block;
			margin: 0 auto;
			max-width: 675px;
			padding: 10px;
			background: linear-gradient(312deg, rgba(36,166,181,1) 17%, rgba(41,89,130,1) 98%);
			border-radius: 200px;
			text-decoration: none;
			line-height: 180%;
			
			strong{
				font-size: 2.0rem;
				letter-spacing: 2px;
				span{
					font-size: 1.8rem;
				}
			}
		}
	}
}
#HIKAKU{
	padding: 0 15px;
	h2{
		display: flex;
		align-items: center;
		width: 15em;
		margin: 50px auto;
		font-size: 3.0rem;
		font-weight: normal;
		&:before,
		&:after {
		  content: "";
		  flex-grow: 1;
		  height: 1px; /* 線の太さ */
		  background: #fff; /* 線の色 */
		  margin:0 1em; /* 文字と線の余白 */
		}
	}
	div{
		max-width: 600px;
		margin: 0 auto;
		table{
			width: 100%;
			margin:30px 0 10px;
			th,td{
				border: #967800 solid 1px;
				padding: 5px;
				text-align: center;
				vertical-align: middle;
			}
			th{
				background: #967800;
				border-bottom: #000 solid 1px;
				font-weight: normal;
			}
			tr.top th{
				background: none;
				border:none;
				border-bottom: #967800 solid 1px;
				line-height: 120%;
				font-size: 1.8rem;
				span{
					font-size: 80%;
				}
				&:nth-of-type(1),
				&:nth-of-type(3){
					color: #d3c485;
				}
			}
			tr td:nth-of-type(1){
				border-right:none;
			}
			tr td:nth-of-type(2){
				border-left:none;
				color: #d3c485;
				font-size: 1.8rem;
			}
			&.option{
				th,td{
					border: #04a6ac solid 1px;
				}
				th{
					background: #04a6ac;
					border-bottom: #000 solid 1px;
				}
				tr.top th{
					border-bottom: #04a6ac solid 1px;
					&:nth-of-type(1){
						color: #04a6ac;
					}
				}
			}
			&.after{
				th,td{
					border: #818181 solid 1px;
				}
				th{
					background: #818181;
					border-bottom: #000 solid 1px;
				}
				tr.top th{
					border-bottom: #818181 solid 1px;
					&:nth-of-type(1){
						color: #818181;
					}
				}
				
			}
		}
		.txt2{
			a{
				background: rgba(135,109,44,1.00);
				padding:0px 5px 5px 5px;
			}
		}
	}
}
#new_SUPPORT{
	padding: 20px;
	h2{
		text-align: center;
		color: $ytxt;
		font-size: 2.8rem;
		padding-bottom: 10px;
		letter-spacing: 1px;
	}
	section{
		border:2px solid $ytxt;
		padding: 20px 20px 0;
		max-width: 860px;
		margin: 0 auto 30px;
		p{
			strong{
				color: $ytxt;
				font-weight: normal;
				font-size: 120%;
			}
		}
		h3{
			background: $ytxt;
			border-radius:10px 10px 0px 0px ;
			padding: 5px 10px;
			color: #000;
			font-size: 2.0rem;
			margin: 10px 0;
		}
		dl{
			overflow:hidden;
			margin-bottom: 20px;
			dt{
				width: 4em;
				float: left;
				background: $yellow;
				text-align: center;
				letter-spacing: 2px;
			}
			dd{
				padding-left: 5em;
				margin-bottom: 10px;
				color: $ytxt;
			}
		}
	}
}
footer{
	margin-top: 150px;
	text-align: center;
	background: #09121F;
	padding: 3% 20px;
	.logo{
		img{
			max-width: 100px;
		}
	}
	h2{
		font-weight: normal;
		strong{
			color: $yellow;
		}
	}
}